.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 20px;
  text-align: center;
}

.section {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #001f8ecb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  padding: 10px;
  margin: 10px;
  width: 300px;
}
